#container {
  text-align: center;
  padding: 10px;
}
.grid {
  display: grid;
  width: fit-content;
  margin: 0 auto;
}

.cell {
  background-color: #fbfcff;
  border: 1px solid #dee1e9;
  margin: 2px;
  width: 56px;
  height: 56px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  border-radius: 7px;
  color: #fff;
}

#keyboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#keyboard button {
  width: 56px;
  height: 56px;
  margin: 5px;
  font-weight: bold;
  border-radius: 7px;
  border: none;
  font-size: 2em;
  cursor: pointer;
  text-align: center;
}

.outline {
  background-color: #a4aec4 !important;
  border-radius: 7px;
}
.message-box {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%; /* Center horizontally */
  top: 25%; /* Center vertically */
  transform: translate(-50%, -50%); /* Offset to truly center */
  padding: 20px;
  background-color: #fefefe;
  border: 1px solid #888;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center; /* Center text */
}
.correct-letter {
  background-color: #f3c237 !important;
  color: #fff;
}

.blind-mode .correct-letter {
  background-color: #f17e2d !important;
}

.correct-position {
  background-color: blue !important;
  color: #fff;
}
.blind-mode .correct-position {
  background-color: #3f94e9 !important;
}

.current-row.cell {
  background-color: beige;
}
#delete-button,
#enter-button {
  width: auto !important;
}

#btn-toggle-color-blind,
#btn-toggle-dark-mode {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: gray;
  transition: background-color 0.3s;
  color: #000;
}
#btn-toggle-color-blind.on {
  background-color: green;
}
#btn-toggle-color-blind.off {
  background-color: #dbe0ed;
}
.control-bar {
  display: flex;
  justify-content: space-around;
  max-width: 500px;
  margin: 10px auto;
}
.control-bar div {
  flex: 1;
}
.winnre {
  color: green;
}
.loser {
  color: red;
}

.btn-reseet {
  padding: 10px 10px;
  margin-bottom: 10px;
  background: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

#container.dark-mode {
  background: #000;
}
#container.dark-mode .control-bar span {
  color: #fff;
}

#btn-toggle-dark-mode.off {
  background-color: #dbe0ed;
}
